* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
    font-family: euclid_circular_a, arial, source sans pro, helvetica neue, helvetica, arial, sans-serif;
}

.main-section {
    width: 100%;
    background-color: #fff;
}

.main-sub-section-1 {
    width: 60%;
    margin: 0 auto;
    display: flex;
    margin-top: 10em;
}

.sub-section-1,
.sub-section-2 {
    width: 50%;
}

.sub-section-2 img {
    width: 100%;
    text-align: left;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.5em;
}

.detail {
    margin-top: 2em;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5em;
    color: #575758;
}

.sub-heading {
    margin-top: 5em;
    color: #66678E;
    font-size: 1.6rem;
    font-weight: 600;
}

.subscribe {
    margin-top: 2em;
}

.subscribe input[type="text"] {
    font-size: 1.2rem;
    width: 70%;
    height: auto;
    padding: 0.8em;
    margin-right: 0;
}

.subscribe input[type="text"]:focus {
    border: 1px solid #023ca8;
}

.btn-sub {
    margin-left: 0;
    font-size: 1.2rem;
    padding: 0.9em;
    background-color: #023ca8;
    color: white;
    border: 1px solid #023ca8;
    font-weight: 700;
}

.btn-sub:hover {
    background-color: #052e79;
    border: 1px solid #052e79;
    cursor: pointer;
}